* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body, html {
    height: 100%;
  }
  
  .bottom-menu {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  .menu-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: gray;
    position: relative;
    cursor: pointer;
  }
  
  .icon {
    font-size: 24px;
  }
  
  .menu-item.active {
    color: white;
  }
  
  .underline {
    position: absolute;
    bottom: -5px;
    width: 8px;
    height: 8px;
    background-color: white;
    border-radius: 4px;
  }
  